<html>
    <head>
        <style>
            table , tr ,td , th {
                border: 1px solid;
            }
        </style>
            
    </head>
    <body>
        <div>
            
            <h1>Customer Table</h1>
            <table>
                <tr>
                    <th>Customer_id</th>
                    <th>Customer_name</th>
                    <th>Customer_email</th>
                </tr>
                <% for (let i = 0; i < user.length;i++) {%>
                    <tr>
                        <td><%= user[i].customer_id %></td>
                        <td><%= user[i].name %></td>
                        <td><%= user[i].email %></td>

                    </tr>

                    
                <% } %>
        
                </table>
        </div>
    </body>
</html>